.hero-section {
    background-image: url(../../assets/images/contact/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.hero-section link:hover .btn {
    text-decoration: none;
    color: #660ff1 !important;
}